@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital@0;1&display=swap');

:root {
  --red: #C5004A;
  --darkred: #7F0036;
  --lightgray: #e0e0e0;
  --gray: #ccc;
  --darkgray: #333;
  --navy: #17050F;
  --blue: #082840;
  --white: #fff;
  --accent: #E8EDE8;
  --rust: #6E3519;
}

* {
  box-sizing: border-box;
}
html,
body {
  padding: 0;
  margin: 0;
}

body {
  background: var(--accent);
  font-family: 'EB Garamond', serif;
}

p:last-child {
  margin-bottom: 0;
}
p,
.tmpl-post li {
  max-width: 37.5em; /* 600px /16 */
}
p,
.tmpl-post li {
  line-height: 1.5;
}

.tmpl-post > img,
.tmpl-post figure {
  display: block;
  border: 1px solid;
  float: right;
  clear: right;
  margin: 0 0 1em; /* Will be reset below for larger screens */
}
.tmpl-post > img.wide {
  width: 100%
}
figure img {
  width: 100%;
  display: block;
}
figure figcaption {
  padding: .5em;
  font-size: 1rem;
  font-style: italic;
  color: var(--darkgray)
}


/* Grid out photogrid and images only on larger screens */
@media only screen and (min-width: 800px) {
  .tmpl-post > img,
  .tmpl-post figure {
    width: 64%;
    margin: 0 0 1em 1em;
  }
  .tmpl-post > img.vert,
  .tmpl-post > img.sm,
  .photogrid > figure.vert {
    width: 32%
  }
  .photogrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .photogrid > figure {
    margin: 0 0 0.5em;
    width: 49%;
  }
}

a[href] {
  color: var(--rust);
}
a[href]:visited {
  color: var(--darkgray);
}

table {
  margin: 1em 0;
}
table td,
table th {
  padding-right: 1em;
}

pre,
code {
  font-family: Consolas, Menlo, Monaco, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", "Courier New", Courier, monospace;
  line-height: 1.5;
}
pre {
  font-size: 14px;
  line-height: 1.375;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  padding: 1em;
  margin: .5em 0;
  background-color: #f6f6f6;
}
.highlight-line {
  display: block;
  padding: 0.125em 1em;
  text-decoration: none; /* override del, ins, mark defaults */
  color: inherit; /* override del, ins, mark defaults */
}

/* allow highlighting empty lines */
.highlight-line:empty:before {
  content: " ";
}
/* avoid double line breaks when using display: block; */
.highlight-line + br {
  display: none;
}

.highlight-line-isdir {
  color: #b0b0b0;
  background-color: #222;
}
.highlight-line-active {
  background-color: #444;
  background-color: hsla(0, 0%, 27%, .8);
}
.highlight-line-add {
  background-color: #45844b;
}
.highlight-line-remove {
  background-color: #902f2f;
}

main::before {
  display: block;
  content: "";
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 24%;
  background: url("../img/old-bike.png") no-repeat;
  background-size: cover;
  background-position: right center;
}
main {
  margin-left: 27%;
  padding: 2rem 2rem 1rem;
  background: #fff;
  border: 1px solid var(--gray);
  border-radius: 0.5em;
  margin-right: 3%;
  font-size: 1.25rem;

}
main :first-child {
  margin-top: 0;
}

/* Header */
header {
  position: relative;
  background: #f0f0f0;
  z-index: 1;
  margin: 4.5em 0 2em;
  padding: .33em 0;
  border: solid var(--gray);
  border-width: 1px 0
}
header:after {
  content: "";
  display: table;
  clear: both;
}


.home {
  position: absolute;
  left: 25%;
  width: 12em;
  top: -4.25em;
}
.home img {
  width: 12em;
}

.tagline {
  float: left;
  width: 22%;
  font-weight: normal;
  font-size: 1rem;
  text-align: right;
  margin: 0;
}

/* Nav */
.nav {
  padding: 0;
  list-style: none;
  float: left;
  margin: 0 0 0 15em;
}
.nav-item {
  display: inline-block;
  margin-right: 1em;
}
.nav-item a[href]:not(:hover) {
  text-decoration: none;
}
.nav-item-active {
  font-weight: 700;
  text-decoration: underline;
}

/* Posts list */
.postlist {
  list-style: none;
  padding: 0; 
}
.postlist li {
  counter-increment: start-from -1;
  display: grid; 
  grid-template-columns: 12.5% auto 15%; 
  grid-template-rows: repeat(2, auto); 
  grid-column-gap: 20px;
  grid-row-gap: 0px; 
  margin-bottom: 2em;
  align-items: center;
}
.postlist time { 
  grid-area: 1 / 1 / 3 / 2;
  border-right: 1px solid var(--lightgray);
  text-align: right;
  padding-right: 20px;
  font-size: 0.9rem;
  height: 100%;
  padding-top: 0.5em
} 
.postlist h3 { 
  margin: 0;
  grid-area: 1 / 2 / 2 / 3; 
} 
.postlist h3 a {
  text-decoration: none
}
.postlist h3 a:hover,
.postlist h3 a:focus,
.postlist h3 a:active {
  text-decoration: underline;
  color: var(--rust)
}
.postlist li > p { 
  margin: 0;
  grid-area: 2 / 2 / 3 / 3; 
} 
.postlist .tags { grid-area: 1 / 3 / 3 / 4; } 

.postlist .tags a {
  display: inline-block;
  font-size: 0.8rem; /* 10px /16 */
  padding: 3px 6px;
  border: 1px solid;
  color: var(--rust);
  border-radius: 0.75em; /* 3px /12 */
  text-decoration: none;
}

/* Warning */
.warning {
  background-color: #ffc;
  padding: 1em 0.625em; /* 16px 10px /16 */
}
.warning ol:only-child {
  margin: 0;
}

/* Direct Links / Markdown Headers */
.direct-link {
  font-family: sans-serif;
  text-decoration: none;
  font-style: normal;
  margin-left: .1em;
}
a[href].direct-link,
a[href].direct-link:visited {
  color: transparent;
}
a[href].direct-link:focus,
a[href].direct-link:focus:visited,
:hover > a[href].direct-link,
:hover > a[href].direct-link:visited {
  color: #aaa;
}
