---
layout: layouts/home.njk
permalink: /posts/
title: Re-Cycled archived posts
description: All the posts on re-cycled.net
eleventyNavigation:
  key: Archives
  order: 3
---

<h1>Archives</h1>

{% set postslist = collections.posts %}
{% include "postslist.njk" %}
