---
pagination:
  data: collections.bikeList
  size: 1
  alias: bike
  addAllPagesToCollections: true
layout: layouts/home.njk
permalink: /bikes/{{ bike.slug }}/
---

{% block content %}
  <h2>{{ bike.name }} posts</h2>
    {% set postslist = bike.posts  %}
    {% include "postslist.njk" %}

  <p>Want more? See <a href="{{ '/bikes/' | url }}">all the bikes</a>.</p>
{% endblock %}

