---
permalink: /tags/
layout: layouts/home.njk
title: Re-Cycled post by tag
description: All the Re-Cycled.net tags and categories.
---
<h1>Tags</h1>
<ul>
{% for tag in collections.tagList %}
  {% set tagUrl %}/tags/{{ tag }}/{% endset %}
  <li><a href="{{ tagUrl | url }}" class="post-tag">{{ tag }}</a></li>
{% endfor %}
</ul>