---
layout: layouts/base.njk
templateClass: tmpl-post
---
<time style="float:right"><small>{{ date | readableDate }}</small></time>
<h1>{{ title }}</h1>

{{ content | safe }}

<p class="disclosure">
  Note: This post may contain affiliate links and we may receive a small 
  commission for purchases made through these links. 
  This does not cost you anything, nor does it affect our opinion of the 
  products.
</p>

Tagged: 
{%- for tag in tags -%}
  {% if tag != 'posts' %}
    <a href="/tags/{{ tag | slug }}">{{ tag }}</a>
  {% endif %}
{%- endfor -%}

<ul>
  {%- set nextPost = collections.posts | getNextCollectionItem(page) %}
  {%- if nextPost %}<li>Next on Re-Cycled: <a href="{{ nextPost.url | url }}">{{ nextPost.data.title }}</a></li>{% endif %}
  {%- set previousPost = collections.posts | getPreviousCollectionItem(page) %}
  {%- if previousPost %}<li>Previously on Re-Cycled: <a href="{{ previousPost.url | url }}">{{ previousPost.data.title }}</a></li>{% endif %}
</ul>
